PySide6
SQLAlchemy
psycopg2-binary
pytest
python-dotenv
python-dateutil>=2.8.2   # Manipulation avancée des dates
bcrypt>=4.0.0            # Hachage sécurisé des mots de passe
jinja2>=3.1.2            # Moteur de templates (PDF, mails, etc.)
pdfkit>=1.0.0            # Génération de PDF à partir de HTML
pywin32>=306             # Interface avec Windows (pour pdfkit)


